* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;

}

/*------Navbar-------*/
/* TODO: Hover and Focus state.
 *       Fix position of mobile search button.
 */
.mdh-expandable-search {
    margin: 0 50px;
    align-items: center;
    justify-content: left;
}

.mdh-expandable-search form {
    max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
    /* Cross browser flex-grow */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
    /* Cross browser inline-flex */
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
    position: relative;
    right: -40px;
    margin-left: -24px;
    /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
    outline: none;
    border: none;
    font-size: 16px;
    color: grey;
    background: transparent;
    padding: 0px 35px 0px 70px;
    height: 40px;
    line-height: 40px;
    /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: grey;
}

.mdh-expandable-search input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: grey;
    opacity: 1;
    /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.mdh-expandable-search input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: grey;
    opacity: 1;
    /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.mdh-expandable-search input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: grey;
}


/* Bug fix: https://github.com/google/material-design-lite/issues/1078
 * To much padding on the left of header when the menu button is hidden */
@media screen and (min-width: 851px) {
    .mdl-layout__header-row {
        padding: 0 40px 0 40px;
    }
}

/* Bug fix for badges being in the wrong location */
.mdl-badge[data-badge]:after {
    right: -7px;
    top: -8px;
}

.mdl-layout__header {
    color: grey !important;
    background: #ffffff !important;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: grey !important;
}

.form_navbar {
    background: #f1f3f4 !important;
    border-radius: 8px !important;
}

/*------//Navbar-------*/

/*-----Search bar Container----*/
.search-container {
    background: url('../images/homepage_header_background.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    height: 19.0625rem;
    margin-top: 1.5rem;
}

.search_greeting {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.625rem;
    padding: 0;
    color: #1967d2;
    font-weight: 400;
    text-align: center;
}

.search_greeting_logo_container {
    height: 3.5rem;
    margin: 0 auto 1.125rem auto;
    padding: .5rem;
    width: 3.5rem;
    border-radius: 1.75rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    display: flex;
}

.search_greeting_logo_container .img-responsive {
    height: 2.5rem;
    width: 2.5rem;
}

.search_bar {
    margin: 0 auto;
    padding: 0 0 2.5rem;
    width: 32.5rem;
    position: relative;
}

.search_bar_input {
    background-color: #ffffff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    color: #202124;
    display: block;
    font-size: 1rem;
    height: 3rem;
    padding: 0 2.5rem 0 4.5rem;
    width: 100%;
    -webkit-appearance: none;
}

.search_button_img {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 1rem;
    padding: 0;
    position: absolute;
    top: 1rem;
    width: 1rem;
    left: 1rem;
    fill: #3c4043;
}

/*-----//Search bar Container----*/


/*----Tabs Container--*/
.page_width_container {
    box-sizing: border-box;
    margin: 0;
    max-width: 75.125rem;
    padding: 0 1rem;
    width: 100%;
}

.tabs_list {
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.portal {
    text-align: center;
    padding: .25rem 0;
}

.portal li h3 {
    color: #3c4043;
    font-size: .875rem;
    line-height: 1.25rem;
    vertical-align: middle;
    white-space: normal;
    height: 3.125rem;
}

.portal li {
    max-width: none;
    min-width: 0;
    min-height: 3.125rem;
    vertical-align: top;
    display: inline-block;
    margin: .25rem;
    padding-bottom: 0;
    text-align: left;
    width: calc(50% - .5rem);
}

.portal li a {
    overflow: hidden;
    padding: 0 .75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: .0625rem solid #dadce0;
    border-radius: .5rem;
    display: block;
}

.portal li a img {
    float: left;
    height: auto;
    margin: .5625rem 0;
    width: 2rem;
    vertical-align: middle;
}

.portal li h3 {
    display: table-cell;
    font-family: inherit;
    margin: 0 .5em;
    padding-left: .5rem;
    vertical-align: middle
}

/*----//Tabs Container--*/

.relative {
    position: relative;
}

.primary_container {
    max-width: none;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.accordion_container {
    box-sizing: border-box;
    margin: 0;
    max-width: 60rem;
    padding: 0 1rem;
    width: 100%;
}

.main_container .page {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: .25rem;
    padding: 1.25rem 1rem;
    border-radius: .5rem;
}

.page_border {
    border: thin solid #dadce0;
    border-radius: .5rem;
    box-sizing: border-box
}

.page_help {
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
    /* padding: 1.5rem 1rem; */
    text-align: left;
    width: 100%;
    border: thin solid #dadce0;
    border-radius: .5rem;
    margin: 2.625rem 0 0;
}


.accordion_homepage .parent:first-child,
.accordion_homepage .parent:first-child>h2 {
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
}

.accordion_homepage .parent:first-child {
    border: none;
}

.accordion_homepage .parent {
    background: #ffffff;
    border-top: thin solid #dadce0;
    padding: 0;
}

.accordion_homepage .parent h2 {
    outline: none;
    position: relative;
}

.accordion_homepage h2 {
    background-color: #ffffff;
    color: #202124;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    padding: .875rem 3.25rem .875rem 1.75rem;
}

.accordion_homepage .parent h2 svg {
    fill: #1a73e8;
    height: 1.25rem;
    position: absolute;
    right: 1.75rem;
    top: calc(50% - .625rem);
    width: 1.25rem;
}

.overflow {
    overflow: hidden;
}

.set>a {
    display: block;
    padding: .625rem 4rem;
    text-decoration: none;
    color: #202123 !important;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.set a:hover {
    background: #d2e3fc
}

.set>a i {
    float: right;
    margin-top: 2px;
}

/* .set>a.active {
    color: #fff;
} */
.set .content {
    background: #e8f0fe !important;
}

.set .content a {
    color: #3c4043 !important;
}

.content {
    border-bottom: 1px solid #ddd;
    display: none;
}

.content a {
    display: block;
    font-size: .875rem;
    line-height: 1.5rem;
    margin: 0;
    padding: .5rem 1.75rem;
    text-decoration: none;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
    background-color: #E8F0FE;
}

.set:hover {
    background-color: #efefef;
}

/* .content a {
    display: block;
} */

.primary-container {
    display: flex;
    justify-content: center;
    max-width: 89.125rem;
    text-align: left;
    width: 100%;
}

.main-content {
    max-width: 69.125rem;
    display: inline-block;
    position: relative;
    width: 100%;
}

.main-content .page {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 4rem;
    text-align: left;
    width: 100%;
}

.page_help {
    background-color: #ffffff;
    box-sizing: border-box;
    /* padding: 1.5rem 1rem; */
    text-align: left;
    width: 100%;
    border: thin solid #dadce0;
    border-radius: .5rem;
}

.primary-container h1 {
    color: #202124;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.primary-container a {
    text-decoration: none;
}

.cc {
    word-wrap: break-word;
}

.cc p {
    margin: .25rem 0 .75rem;
}

.primary-container .cc li::before {
    content: "\002022";
    float: left;
    font-size: 1rem;
    margin-left: -.875rem;
}

.primary-container li {
    list-style-type: none;
    margin-left: 0;
}

.side-container {
    width: 21rem;
}

.primary-container h1,
h2,
h3,
h4 {
    font-weight: 400;
    color: #202124;
}

.primary-container h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 0 0 .5rem;
}

.primary-container h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 .5rem;
}

.tabbar {
    display: block;
    max-width: 89.125rem;
    padding: .5rem 0 0;
    text-align: left;
    font-weight: 500;
}

.tabbar-internal {
    box-sizing: border-box;
    display: flex;
    max-width: 75.125rem;
    min-height: 3rem;
    padding: 0 1rem;
    width: 100%;
}

.tabbar-helpcenter-sections {
    align-items: center;
    display: flex;
    position: relative;
    white-space: nowrap;
}

.tabbar-helpcenter-sections__link.tabbar-helpcenter-sections--active {
    border-bottom: .1875rem solid #1a73e8;
    color: #1a73e8;
}

a.tabbar-helpcenter-sections__link {
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
    box-sizing: border-box;
    color: #5f6368;
    display: inline-block;
    flex-grow: 4;
    font-size: .875rem;
    line-height: 1.875rem;
    padding: .125rem .5rem 0;
    text-align: center;
}

@media (min-width:37.5625rem) {
    .portal li {
        width: calc(100%/3 - .5rem);
    }
}

@media (min-width:25.0625rem) {
    .portal li {
        width: calc(50% - .5rem);
    }
}

@media (min-width:48.475rem) {
    /* .primary-container {
        max-width: none;
        text-align: center;
    } */

    .page-width-container {
        box-sizing: border-box;
        margin: 0;
        max-width: 75.125rem;
        padding: 0 1rem;
        width: 100%;
    }


    .primary-container h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 0 .5rem;
    }

    .primary-container h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 2rem 0 .5rem
    }

    .help-page {
        padding: 4rem;
        margin: 2.625rem;
    }

    .article-container {
        min-width: 14.5rem;
        padding: 0;
    }

    .sibling-nav {
        width: 100%;
    }

    .content a {
        line-height: .875rem;
        padding: .625rem 4rem;
    }

    .page {
        margin: 2.625rem;
        padding: 4rem;
    }

    .portal {
        max-width: 58rem;
        box-sizing: border-box;
    }

    .tabs_list {
        display: inline-block;
        max-width: 44.5rem;
    }

    .portal li {
        width: calc(25% - .5rem);
    }

    .portal li a {
        max-height: 9rem;
        padding: .875rem .25rem;
        text-align: center;
        transition: box-shadow 218ms;
        -webkit-transition: box-shadow 218ms;
    }

    .portal li a img {
        float: none;
        margin: .75rem 0 .25rem;
        width: 4rem;
    }

    .portal li h3 {
        height: auto;
        display: block;
        margin: .5rem 0;
        min-height: 0;
        padding: 0;
    }

    .tabbar-helpcenter-sections {
        display: block;
        flex: 50%;
    }

    a.appbar-helpcenter-sections__link {
        line-height: 2.75rem;
        margin: 0 .5rem 0 0;
        max-width: none;
        width: auto;
    }

    a.appbar-helpcenter-sections__link {
        line-height: 2.75rem;
        margin: 0 .5rem 0 0;
        max-width: none;
        width: auto;
    }
}

.sibling-nav {
    display: inline-block;
}

.sibling-nav h4 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.sibling-nav .sibling-list a svg {
    fill: #1a73e8;
    height: 1.25rem;
    position: absolute;
    top: .5625rem;
    left: -1.375rem;
    width: 1.25rem;
}

.sibling-nav .sibling-list a.sibling-link {
    color: #3c4043;
    display: block;
    margin-left: 1.25rem;
    padding: .625rem 0 .625rem .875rem;
    position: relative;
    text-decoration: none;
}

.primary-nav {
    border: .0625rem solid #dadce0;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    margin: 1.875rem .25rem 0;
    max-width: 52rem;
    padding: 2rem 2rem 2.625rem;
    width: 100%;
}

.context-selector-tabs {
    border-bottom: .0625rem solid #dadce0;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.context-selector-tabs-container {
    height: 3rem;
    margin: 0;
    white-space: nowrap;
    word-wrap: normal;
}

.context-selector-tabs a {
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
    color: #5f6368;
    font-family: 'Google Sans', Roboto, sans-serif;
    font-weight: 500;
}

.context-selector-tabs .context-selector-selected,
.context-selector-tabs .context-selector-selected:visited {
    border-bottom: .1875rem solid #1a73e8;
    color: #1a73e8;
}

.context-selector-tab {
    border-bottom: .0625rem solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 2.875rem;
    line-height: 2.9375rem;
    padding: 0 .625rem;
    white-space: nowrap;
}

@media (min-width: 61rem) {
    .primary-nav {
        display: table-cell;
        padding: 2.625rem 0 0;
        width: 21rem;
        box-sizing: border-box;
        margin: 1.875rem .25rem 0;
        max-width: 52rem;
    }

    .primary-nav {
        border: none;
        padding-top: 2.625rem;
    }

    .primary-nav nav {
        margin-left: 5.125rem;
        min-height: 16.375rem;
    }

    .primary-nav .sibling-nav {
        margin-top: 0;
        min-height: 16.75rem;
    }

    .page-width-container {
        display: flex;
    }
}


@media (min-width: 280px) and (max-width: 480px) {
    .search-container {
        background: none;
        height: 12.065rem;
    }

    .search_bar {
        width: 17.5rem;
    }

    .search_greeting {
        font-size: 1.5rem;
    }

    .set:hover {
        background-color: none;
    }

    .product_name a {
        text-align: center;
    }
}

@media (min-width: 48.1875rem) {
    .accordion_homepage h2 {
        font-size: .875rem;
        padding: 1rem 3.25rem 1rem 4rem;
    }
}