* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    padding: 0 5% 0 5%;
    /* justify-content: space-between; */
}

.search-container {
    background: url('../images/homepage_header_background.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    height: 19.0625rem;
    margin-top: 1.5rem;
}

.search_greeting {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.625rem;
    padding: 0;
    color: #1967d2;
    font-weight: 400;
    text-align: center;
}

.search_greeting_logo_container {
    height: 3.5rem;
    margin: 0 auto 1.125rem auto;
    padding: .5rem;
    width: 3.5rem;
    border-radius: 1.75rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    display: flex;
}

.search_greeting_logo_container .img-responsive {
    height: 2.5rem;
    width: 2.5rem;
}

.search_bar {
    margin: 0 auto;
    padding: 0 0 2.5rem;
    width: 32.5rem;
    position: relative;
}

.search_bar_input {
    background-color: #ffffff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    color: #202124;
    display: block;
    font-size: 1rem;
    height: 3rem;
    padding: 0 2.5rem 0 4.5rem;
    width: 100%;
    -webkit-appearance: none;
}

.search_button_img {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 1rem;
    padding: 0;
    position: absolute;
    top: 1rem;
    width: 1rem;
    left: 1rem;
    fill: #3c4043;
}

.relative {
    position: relative;
}

.primary_container {
    max-width: none;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.accordion_container {
    box-sizing: border-box;
    margin: 0;
    max-width: 75.125rem;
    padding: 0 1rem;
    width: 100%;
}

.page {
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
    /* padding: 1.5rem 1rem; */
    text-align: left;
    width: 100%;
    border: thin solid #dadce0;
    border-radius: .5rem;
    margin: 2.625rem 0 0;
}

.main_container,
.page {
    max-width: 52rem;
    display: inline-block;
    position: relative;
    width: 100%;
}

.accordion_homepage .parent:first-child,
.accordion_homepage .parent:first-child>h2 {
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
}

.accordion_homepage .parent:first-child {
    border: none;
}

.accordion_homepage .parent {
    background: #ffffff;
    border-top: thin solid #dadce0;
    padding: 0;
}

.accordion_homepage .parent h2 {
    outline: none;
    position: relative;
}

.accordion_homepage h2 {
    background-color: #ffffff;
    color: #202124;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    padding: .875rem 3.25rem .875rem 1.75rem;
}

.accordion_homepage .parent h2 svg {
    fill: #1a73e8;
    height: 1.25rem;
    position: absolute;
    right: 1.75rem;
    top: calc(50% - .625rem);
    width: 1.25rem;
}

.overflow {
    overflow: hidden;
}

.set>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.set a:hover {
    background: #d2e3fc
}
.set>a i {
    float: right;
    margin-top: 2px;
}

/* .set>a.active {
    color: #fff;
} */
.set .content {
    background: #e8f0fe !important;
}

.content {
    border-bottom: 1px solid #ddd;
    display: none;
}

.content a {
    display: block;
    font-size: .875rem;
    line-height: 1.5rem;
    margin: 0;
    padding: .5rem 1.75rem;
    text-decoration: none;
}

.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
    background-color: #E8F0FE;
}

.set:hover {
    background-color: #efefef;
}

/* .content a {
    display: block;
} */

.primary-container {
    display: flex;
    justify-content: center;
    max-width: 89.125rem;
    text-align: left;
    width: 100%;
}

.page-width-container {
    box-sizing: border-box;
    margin: 0;
    max-width: 75.125rem;
    padding: 0 1rem;
    width: 100%;
}

.main-content {
    align-self: flex-start;
    flex: 1;
    max-width: 52rem;
}

.help-page {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    text-align: left;
    width: 100%;
    border: thin solid #dadce0;
    border-radius: .5rem;
}

.primary-container h1 {
    color: #202124;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.cc {
    word-wrap: break-word;
}

.cc p {
    margin: .25rem 0 .75rem;
}

.primary-container ul {
    outline: 0;
    padding: 0;
}

.primary-container .cc li::before {
    content: "\002022";
    float: left;
    font-size: 1rem;
    margin-left: -.875rem;
}

.primary-container li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1.5rem;
}

.side-container {
    width: 21rem;
}

.primary-container h1,
h2,
h3,
h4 {
    font-weight: 400;
    color: #202124;
}

.primary-container h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 0 0 .5rem;
}

.primary-container h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 .5rem;
}

.primary-container {
    margin-top: 2rem;
}

@media (min-width:48.475rem) {

    .primary-container h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 0 .5rem;
    }

    .primary-container h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 2rem 0 .5rem
    }

    .help-page {
        padding: 4rem;
        margin: 2.625rem;
    }

    .article-container {
        min-width: 14.5rem;
        padding: 0;
    }

    .sibling-nav {
        width: 100%;
    }

    .content a {
        line-height: .875rem;
        padding: .625rem 4rem;
    }
}

.sibling-nav {
    display: inline-block;
}

.sibling-nav h4 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.sibling-nav .sibling-list a svg {
    fill: #1a73e8;
    height: 1.25rem;
    position: absolute;
    top: .5625rem;
    left: -1.375rem;
    width: 1.25rem;
}

.sibling-nav .sibling-list a.sibling-link {
    color: #3c4043;
    display: block;
    margin-left: 1.25rem;
    padding: .625rem 0 .625rem .875rem;
    position: relative;
    text-decoration: none;
}

.primary-nav {
    border: .0625rem solid #dadce0;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    margin: 1.875rem .25rem 0;
    max-width: 52rem;
    padding: 2rem 2rem 2.625rem;
    width: 100%;
}

@media (min-width: 61rem) {
    .primary-nav {
        display: table-cell;
        padding: 2.625rem 0 0;
        width: 21rem;
        box-sizing: border-box;
        margin: 1.875rem .25rem 0;
        max-width: 52rem;
    }

    .primary-nav {
        border: none;
        padding-top: 2.625rem;
    }

    .primary-nav nav {
        margin-left: 5.125rem;
        min-height: 16.375rem;
    }

    .primary-nav .sibling-nav {
        margin-top: 0;
        min-height: 16.75rem;
    }

    .page-width-container {
        display: flex;
    }
}


@media (min-width: 280px) and (max-width: 480px) {
    .search-container {
        background: none;
        height: 12.065rem;
    }

    .search_bar {
        width: 17.5rem;
    }

    .search_greeting {
        font-size: 1.5rem;
    }

    .set:hover {
        background-color: none;
    }
}

@media (min-width: 48.1875rem) {
    .accordion_homepage h2 {
        font-size: .875rem;
        padding: 1rem 3.25rem 1rem 4rem;
    }
}